<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="ion-padding">
  <form [formGroup]="validationsForm" (ngSubmit)="resendEmail(validationsForm.value)">
    <ion-item class="input-item">
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validationMessage.email">
      <div class="error-message"
        *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
  </div>
    <ion-row>
      <ion-col>
        <ion-button class="send-button" type="submit" expand="block" [disabled]="!validationsForm.valid">Send</ion-button>
      </ion-col>
    </ion-row>
    <div class="messages-container">
      <label class="error-message">{{errorMessage}}</label>
      <label class="success-message">{{successMessage}}</label>
    </div>
    <small>
      Please provide the username or email address that you used when you signed
      up for your Evernote account.
    </small>
  </form>
  <p class="go-to-login">Already have an account? <a (click)="goLoginPage()">Try to Log In.</a></p>
</ion-content>
